<!DOCTYPE html>
<html>
  <head>
    <title>RIMY</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Nav -->
    <%= render "shared/navbar" %>

    <!-- Content -->
    <main role="main" class="container">
      <%= render "shared/notice_and_alert" %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">2019 // Zulhilmi Zainudin</span>
      </div>
    </footer>
  </body>
</html>
